<div class="arts-home-header-container">
  <div class="arts-home-header-title">
    _ARCHITEKT
  </div>
</div>
<div class="arts-home-second-header-container">
  <form action="/arts/new">
    <input type="submit" value="Add An Artwork" class="add-artwork-button">
  </form>
  <form action="/logout">
  <input type="submit" value="logout" class = "logout-button">
  </form>
</div>

<div class="arts-entries-container">
  
  <div class="arts-entry">
    {{#each arts}}
    <img class='photo' src="https://loremflickr.com/270/150/art">
    <div class='arts-entry-details'>  
      <p class="author">Author: {{author}}</p>
      <a href="/arts/{{id}}">http://localhost:8080/arts/{{id}}</a>
      <p class="description">Description:{{description}}</p>
    </div>
    {{/each}}
  </div>
  
</div>