<div class="register-page-container">
  <div class="register-page-header">
    <div class="register-title">Create Your Architekt Account</div>
  </div>
  <form action="/register" method="POST">
  <div class="register-form-container">
    <div class = "rmessage" >{{message}}</div>
    <div class="rmessage">{{emailMessage}}</div>
    <input class="register-email" type="text" placeholder="Email (optional)" name="email"> 
    <input class = "register-username" type="text" placeholder="Username" name="username">
    <input class="register-password" type="text" placeholder="Password" name="password">  
    <input class="register-your-account" type="submit" value="Register Your Account">
  </form>
  </div>
</div>