body{
  background-color:whitesmoke;
}

.arts-home-header-container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width:100%;
}

.arts-home-header-title{
  font-size: 35px;
  color: #282828
}

.arts-home-second-header-container{
  display: flex;
  justify-content: center;
  width:100%;
  margin-bottom: 15px;
}

.arts-entries-container{
  display: flex;
  justify-content: center;
  width:100%;
  flex-wrap:wrap;
}

.arts-entry{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:270px;
  height: 165px;
}

.arts-entry-details{
display: flex;
flex-direction: column;
align-items: start;
width:310px;
}
.author{
  color:red;
}

.link{
  color:blue;
}

.description{

}

.photo{
  width:200;
  height: 120;
}
